/* You can add global styles to this file, and also import other style files */
/*componente para desplegar el arbol.*/
@import '~angular-tree-component/dist/angular-tree-component.css';

/*Fuentes*/
@font-face{
	font-family: "yanone";
	src: url("fonts/yanone.ttf");
}

@font-face{
	font-family: "finger";
	src: url("/fonts/finger.ttf");
}

*{
	margin: 0px;
	padding: 0px;
}

.clearfix{
	float: none;
	clear: both;
}

body{
	font-family: "yanone", Arial, Helvetica;
	font-size: 20px;
	background: url("../img/pattern.png");
	background-attachment: fixed;
}

header{
	width: 100%;
	height: 90px;
	background: rgba(53,103,164,0.8);
	position: fixed;
	text-transform: uppercase;
}

header ul {
	display: block;
	width: 50%;
	height: inherit;
	margin: 0px auto;
	margin-top: -3px;
}

header ul li{
	display: inline-block;
	margin: 0px auto;
	text-align: center;
	line-height: 90px;
}

header ul li a{
	display: block;
	padding-right: 20px;
	padding-left: 20px;
	height: inherit;
	text-decoration: none;
	color: white;
	transition: all 300ms;
}

header a:hover, .active{
	background: rgba(0,0,0,0.7);
}

#logo{
	font-family: "finger";
	font-size: 30px;
}

#logo{
	transition: color 500ms, transform 500ms;
}

#logo a:hover{
	background: transparent;
	color: black;
	transform:scale(1.50,1.50);
}

/************** Contenido principal ***************/

#content{
	min-height: 500px;
	width: 75%;
	margin: 0px auto;
	box-shadow: 0px 0px 40px black;
	border-left: 1px solid #b7b7b7;
	background: rgba(255,255,255,0.7);
	padding-top: 120px;
}

/************** Pie de pagina ***************/

footer{
	width: 75%;
	margin: 0px auto;
	padding-top: 25px;
	color: rgba(0,0,0,0.5);
}

/*************** Pagina principal *************/
#title{
	width: 70%;
	margin: 0px auto;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 100px;
}

#title h1{
	font-family: "finger";
	font-size: 60px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}

#title h2{
	font-size: 25px;
	color: gray;
	margin-top: 5px;
	margin-bottom: 5px;
}

#article h3{
	font-size: 20px;
	color: gray;
	margin-top: 5px;
	margin-bottom: 5px;	
	border-bottom: 2px solid #ccc;
	padding-bottom: 5px;
}

#article h2{
	font-family: "finger";
	font-size: 25px;
	color: black;
	margin-top: 5px;
	margin-bottom: 5px;	
	border-bottom: 3px solid #ccc;
	padding-bottom: 5px;
}


#article{
	align-content: center;
	width: 70%;
	margin: 0px auto;
	margin-bottom: 20px;
	font-size: 23px;
}

table{
	padding-top: 10px;
	padding-left: 50px;
	border-bottom: 1px #ccc;
}

button{
	font-size: 15 px;
	padding: 10px;
	border: 1px-solid;
	margin-top: 15px;
	color: white;
	background: rgba(13,67,163,1); 
	border: 1px solid rgba(13,67,133,1);
}

button : hover{
	background: rgba(13,67,163,0.5); 
	border: 1px solid rgba(13,67,133,1);
}