<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Panel {{ title }}!
  </h1>

  <nav>
  	<a [routerLink]="['/home']" [routerLinkActive]="['active']"> Home </a>
  	&nbsp;
  	<a [routerLink]="['/procesos']" [routerLinkActive]="['active']"> Procesos </a>
  	&nbsp;
  	<a [routerLink]="['/monitor-cpu']" [routerLinkActive]="['active']"> CPU </a>
  	&nbsp;
  	<a [routerLink]="['/monitor-ram']" [routerLinkActive]="['active']"> RAM </a>  	
  </nav>

<hr>

<router-outlet></router-outlet>