<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  
<header>
  <ul>
    <li>
      <a [routerLink]="['/varbol']" [routerLinkActive]="['active']"> Arbol </a>  
    </li>
    <li>
      <a [routerLink]="['/procesos']" [routerLinkActive]="['active']"> Procesos </a>  
    </li>
    <li id="logo"><a href="#"> SO2 </a></li>
    <li>
      <a [routerLink]="['/monitor-cpu']" [routerLinkActive]="['active']"> Monitor CPU </a>  
    </li>
    <li>
      <a [routerLink]="['/monitor-ram']" [routerLinkActive]="['active']"> Monitor RAM </a>      
    </li>
  </ul>
</header>

<hr>
<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
  Curso Sistemas Operativos 2
  Segundo Semestre 2020
</footer>